<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<img class="img-responsive" src="/images/myBanner.png" alt="banner"/>
тут будут карты
<span th:if="${noCards}">
    У вас еще нет карт, нажмите на кнопку, чтобы добавить
</span>
<div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <a th:href="@{/account/addCard}" class="btn btn-link collapsed">
                Добавить карту
            </a>
        </h5>
    </div>
    <table>
    <tr th:each="card : ${cards}">
        <td th:text="${card.cardName}">
        </td>
    </tr>
    </table>
</div>
</body>
</html>